@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Poppins', sans-serif;
}

.wrapper{
    background-color: #4F6F52;
    height: 100vh;
    width: 100vw;
    padding-top: 200px;
}

.container{
    background-color: #C6CF9B;
    width: 800px;
    max-width: 90%;
    margin: 0 auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 10px 10px rgb(30, 30, 30);
}

.heading{
    font-size: 2rem;
    font-weight: 600;
    color: #163020;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.question{
    font-size: 1.5rem;
    font-weight: 500;
    color: #163020;
    margin: 10px 0;
    padding: 10px 0;
}

.answers{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 20px;
}

.btn{
    font-size: 1.2rem;
    text-align: left;
    padding: 10px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
}

.btn:hover:not([disabled]){
    cursor: pointer;
    background-color: black;
    color: aliceblue;
}

.btn:disabled{
    cursor: no-drop;
}
.next-btn{
    all: unset;
    display: none;
    text-align: center;
    margin: 20px auto 0;
    width: 150px;
    height: 50px;
    background-color: #739072;
    border-radius: 5px;
    cursor: pointer;
}

.correct{
    background-color: #9aeabc;
}

.incorrect{
    background-color: #ff9393;
}
